<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PAYMENT GATEWAY</a>
        </div>
        <ul class="nav navbar-nav navbar-right">            
            <li>
                <a href="http://localhost:15672" target="_blank">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>